.embla {
  width: 51vw;
  --slide-spacing: 1.2rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.embla__viewport {
  overflow: hidden;
  height: 90%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  margin: 0;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * 1.2);
}

.embla__container a {
  padding: 1.2em;
}

.embla__slide {
  min-width: 300px;
  max-width: 320px;
  color: rgb(148, 163, 184);
  background-color: rgba(236, 255, 255, 0.103);
  border-radius: 0.65rem;
  flex: 0 0 var(--slide-size-sm);
  padding-left: var(--slide-spacing-sm);
  height: 374px;
}

.paragraph__slide {
  height: 40px;
}

.embla__slide:hover {
  background-color: rgba(236, 255, 255, 0.185);
  color: rgb(148, 163, 184);
}

@media (max-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
  .embla {
    width: 88vw;
    margin: 0;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  appearance: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
}

.embla__button--selected::after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 4.6rem;
  height: 4.6rem;
  border: none;
  display: flex;
  align-items: center;
}

.embla__button:hover {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: #ffffff00;
  fill: rgb(93, 58, 247);
  scale: 1.1;
  border: none;
}

.embla__button:focus {
  outline: none;
}

.embla__button:active {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: #1fdb1800;
  fill: rgb(93, 58, 247);
  scale: 1.1;
  border: none;
}

.embla__button:disabled > .embla__button__svg {
  color: rgb(76, 80, 80);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
  color: rgb(93, 58, 247);
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding-right: 20px;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
}
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  background-color: rgb(93, 58, 247);
  width: 9px;
  height: 9px;
  transform: scale(1.18);
}
