@font-face {
  font-family: "ITC Avant Garde Gothic Demi";
  src: local("ITC Avant Garde Gothic Demi"),
    local("ITC-Avant-Garde-Gothic-Demi"),
    url("../../assets/fonts/ITCAvantGardeStd-Demi.woff2") format("woff2"),
    url("../../assets/fonts/ITCAvantGardeStd-Demi.woff") format("woff"),
    url("../../assets/fonts/ITCAvantGardeStd-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 12px;
  margin-bottom: 50px;
  height: 100%;
  padding-left: 14%;
  width: 60%;
}

.Project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  margin: 12px;
  padding: 12px;
  gap: 2rem;
  border-radius: 0.25rem;
  color: rgb(148, 163, 184);
  background-color: rgba(236, 255, 255, 0.185);
}

.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-left: 12rem;
}

.Project-card_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Project-card_img img {
  width: 98%;
  max-width: 300px;
  max-height: 150px;
  border-radius: 0.6rem;
}

.Project-card h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-family: "ITC Avant Garde Gothic Demi";
}

.Project-card ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  height: 100%;
}

.Project-card ul li {
  color: rgb(94 234 212);
  font-size: 14px;
  padding: 8px;
  line-height: 20px;
  border-radius: 9999px;
  background-color: rgba(45, 212, 191, 0.1);
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
}

.projects__container {
  width: 98%;
}

.title {
  font-size: 0.8em;
}

@media (max-width: 1100px) {
  #Projects {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #Projects {
    padding-left: 0;
  }
  .projects__container {
    width: 100%;
  }
  .projects__content {
    gap: 16px;
    padding-left: 0;
  }
}

.Project-card__content h2 {
  display: flex;
  flex-direction: row;
}

.projects__arrow {
  margin-top: -80px;
}

.projects__title {
  color: rgb(148, 163, 184);
  text-transform: uppercase;
}

.card__header__content {
  position: relative;
}

.eye__img {
  position: absolute;
  top: -4px;
  right: 10px;
}
